{% extends "home/base.html" %}
{% block title %}Preorder Products for Business Customers{% endblock %}
{% block content %}
{% load static %}
<!-- ? main content section  ? -->

<br><br><br>
<div class="container mt-5 " style="padding-top: 30px;">
    <header class="section-header">
        <p>You're almost there !</p>
    </header>

    <p class="mt-3">
        Get advanced protecton against today's advanced cyber threats and contribute together with iFender to
        defeating
        cybercrime.
    </p>

    <header class="section-header mt-5">
        <p>Save up to 50% OFF !</p>
    </header>

    <header class="section-header">
        <p>Product : iFender Browser Defense</p>
    </header>

    <p class="">
        Protect yourself, your familly, your businesses, your organizations, your employees, your users, your
        corporate brand
        and reputation with the industry's most accurate, fastest and scalable proactive browser-centric protection
        against
        today's advanced cyber threats across all attack vectors before they cause damage.
    </p>

    <!-- ? product 2 - IFENDER BROWSER DEFENSE -->
    <header class="section-header">
        <p class="fs-3 text-muted fw-bold">Choose the Plan that best meets your needs</p><br>
        <span class="mt-5">Select the users</span>
        <br><br>
        <input id="ex14" type="text" />
    </header>

    <div class="container products-card-container ">

        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card pricing-card">
                    <a class="text-muted mt-3 text-center rounded-0 fs-3 fw-bold">Business</a>
                    <div class="card-body p-5">
                        <h5 class="card-title text-primary fs-2 fw-bold text-center border-0">Organization</h5>
                        <p class="card-text text-center">For up to 10 Users</p>
                        <div class="w-100 d-flex">
                            <a href="#!" class="btn btn-success mx-auto fs-4 w-100">Save 50 %</a>
                        </div>

                    <div class="mt-5">
                            <h2 class="text-center fw-bold">Start at $25 <span class="text-decoration-line-through">$50</span>
                                Per
                                Month</h2>
                            <p class="text-center">$2.5<span class="text-decoration-line-through"> $5.0</span> per additional
                                User</p>
                            <p class="text-center">$300 <span class="text-decoration-line-through">$600</span> billed now
                                for
                                the first year.</p>
                    </div>
                        
                        <div class="d-flex">
                            <a href="?product=browser" class="w-100 btn-primary btn fs-3 fw-bold mx-auto my-5">PRE-ORDER NOW!</a>
                        </div>

                    </div>
                    



                </div>
            </div>

        </div>
    </div>




    <!-- ? product 2 - Browser defense Api -->
    <header class="section-header mt-5">
        <p>Product : iFender Real-Time Defense API</p>
    </header>

    <p class="">
        Integrate the industry's most accurate, fastest, and most scalable powerful API designed to protect your
        businesses,
        your employees, your remote workers, your brand, and your reputation by stopping today's advanced cyber
        threats in real
        time across all attack vectors before they infiltrate your digital infrastructures.
    </p>

    <header class="section-header">
        <p class="fs-3 text-muted fw-bold">Transparent pricing for developers and businesses</p>
        <span class="p-5">Select the number of monthly check you need.</span><br>

        <br><br>
        <input id="ex13" type="text" />
    </header>

    <div class="container products-card-container ">

        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card card pricing-card">
                    <a class="rounded-0 text-muted mt-3 fs-3 fw-bold text-center">Business</a>
                   
                    <div class="card-body p-5">
                        <h5 class="card-title text-primary fs-2 fw-bold text-center border-0">Organization</h5>
                        <p class="card-text text-center">For up to 10K API calls per month</p>
                        <div class="w-100 d-flex">
                            <a href="#!" class="btn btn-success mx-auto fs-4 w-100">Save 50 %</a>
                        </div>

                       <div class="mt-5">
                         <h2 class="text-center fw-bold">Start at $100 <span class="text-decoration-line-through">$200</span>
                             Per Month</h2>
                         <p class="text-center">$10<span class="text-decoration-line-through">$20</span> per additional
                             1000 API calls</p>
                         <p class="text-center">$1200 <span class="text-decoration-line-through">$2400</span> billed now
                             for
                             the first year.</p>
                       </div>
                        
                        <div class="d-flex">
                            <a href="?product=api" class="w-100 btn-primary btn fs-3 fw-bold mx-auto my-5">PRE-ORDER NOW!</a>
                        </div>

                    </div>
                    



                </div>
            </div>

        </div>
    </div>


</div>

{% endblock %}

