{% extends "home/base.html" %}
{% block title %}Pricing Plans for Business Products & Free Trial{% endblock %}
{% block content %}
{% load static %}
<!-- ? main content section  ? -->

<br><br><br>
<div class="container mt-5 " style="padding-top: 30px;">
  

    <header class="section-header">
        <p>Product : iFender Browser Defense</p>
    </header>

   

    <!-- ? product 2 - IFENDER BROWSER DEFENSE -->
    <header class="section-header">
        <p class="fs-3 text-muted fw-bold">Transparent pricing for individuals and businesses</p><br>
        <span class="mt-5">Select the users</span>
        <br><br>
        <input id="ex14" type="text" />
    </header>

    <div class="container products-card-container ">

        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card pricing-card">
                    <a class="text-muted text-center btn fs-3 fw-bold">Business</a>
                    <div class="card-body p-5">
                        <p class="card-text text-center">For up to <span class="fs-2 fw-bold ">10 users</span></p>
                        <div class="w-100 d-flex">
                            <a href="#!" class="btn btn-success mx-auto fs-2 fw-bold w-100">$50 PER MONTH</a>
                        </div>

                        <div class="mt-5">
                            <p class="text-center">Billed $600 once a Year.</p>
                            <p class="text-center">$5.00 per additional
                                User per Month</p>
                            
                            <div class="row features-table-container">
                                <div class="col-6">
                                    <h5 class="px-3 text-primary">Protection against</h5>
                                    <ul>
                                        <li>Phising Attacks</li>
                                        <li>Scams</li>
                                        <li>Social Engineering</li>
                                        <li>Identity Theft</li>
                                        <li>Credential Theft</li>
                                        <li>Malware</li>
                                        <li>Ransomware</li>
                                        <li>Malicious URL</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <h5 class="px-3 text-primary">Attack vectors</h5>
                                    <ul>
                                        <li>Internet</li>
                                        <li>Email</li>
                                        <li>SMS</li>
                                        <li>Instant Messaging</li>
                                        <li>Cloud Applications</li>
                                    </ul>
                                </div>
                            </div>
                            
                            
                            <div class="d-flex">
                                <a href="{% url 'business_signup' %}" class="btn-primary btn fs-3 fw-bold mx-auto my-5 w-100">START 14 DAY FREE TRIAL!</a>
                            </div>
                            <p class="text-center">No credit card required</p>
                        </div>
                    </div>
                 
                       



                </div>
            </div>
            <div class="col-sm-6 mx-auto">
                <div class="card h-100 pricing-card">
                    <a class="text-muted text-center btn fs-3 fw-bold">Enterprise</a>
                    <div class="card-body p-5">
                        <p class="card-text text-center">More than <span class="fs-2 fw-bold ">1000 users</span></p>
                        <p class="text-start">+ Brand impersonation protection</p>
                        <p class="text-start">+ Premium Support</p>
                        <p class="text-start">+ Flexible Pricing</p>

                        <div class="d-flex">
                            <a href="?product=browser" class="w-100 btn-primary btn fs-3 fw-bold mx-auto my-5">🚀 Contact Sales</a>
                        </div>

                                <div class="row features-table-container mb-5">
                                    <div class="col-6">
                                        <h5 class="px-3 text-primary">Protection against</h5>
                                        <ul>
                                            <li>Phising Attacks</li>
                                            <li>Scams</li>
                                            <li>Social Engineering</li>
                                            <li>Identity Theft</li>
                                            <li>Credential Theft</li>
                                            <li>Malware</li>
                                            <li>Ransomware</li>
                                            <li>Malicious URL</li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="px-3 text-primary">Attack vectors</h5>
                                        <ul>
                                            <li>Internet</li>
                                            <li>Email</li>
                                            <li>SMS</li>
                                            <li>Instant Messaging</li>
                                            <li>Cloud Applications</li>
                                        </ul>
                                    </div>
                                </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
   
   
    <!-- ? products container 2 -->
    <header class="section-header mt-5">
        <p>Product : iFender Real-Time Defense API</p>
    </header>
    <header class="section-header">
        <p class="fs-3 text-muted fw-bold">Transparent pricing for developers and businesses</p><br>
        <span class="mt-5">Select the number of Monthly calls you need</span>
        <br><br>
        <input id="ex13" type="text" />
    </header>


    <div class="container products-card-container ">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card pricing-card">
                    <a class="text-muted text-center btn fs-3 fw-bold">Business</a>
                    <div class="card-body p-5">
                        <p class="card-text text-center">For up to <span class="fs-2 fw-bold ">10K</span> API Calls Per Month</p>
                        <div class="w-100 d-flex">
                            <a href="#!" class="btn btn-success mx-auto fs-2 fw-bold w-100">$200 PER MONTH</a>
                        </div>

                       <div class="mt-5">
                         <p class="text-center">Billed $2400 once a Year.</p>
                         <p class="text-center">$0.002 per additional
                             Api Call</p>
                         
                         <div class="row features-table-container">
                             <div class="col-6">
                                 <h5 class="px-3 text-primary">Protection against</h5>
                                 <ul>
                                     <li>Phising Attacks</li>
                                     <li>Scams</li>
                                     <li>Social Engineering</li>
                                     <li>Identity Theft</li>
                                     <li>Credential Theft</li>
                                     <li>Malware</li>
                                     <li>Ransomware</li>
                                     <li>Malicious URL</li>
                                 </ul>
                             </div>
                             <div class="col-6">
                                 <h5 class="px-3 text-primary">Attack vectors</h5>
                                 <ul>
                                     <li>Internet</li>
                                     <li>Email</li>
                                     <li>SMS</li>
                                     <li>Instant Messaging</li>
                                     <li>Cloud Applications</li>
                                 </ul>
                             </div>
                         </div>
                         
                         
                         <div class="d-flex">
                             <a href="{% url 'business_signup' %}" class="w-100 btn-primary btn fs-3 fw-bold mx-auto my-5">START 14 DAY FREE TRIAL!</a>
                         </div>
                         <p class="text-center">No credit card required</p>
                       </div>
                    </div>
                 
                      



                </div>
            </div>
            <div class="col-sm-6 mx-auto">
                <div class="card h-100 pricing-card">
                    <a class="text-muted text-center btn fs-3 fw-bold">Enterprise</a>
                    <div class="card-body p-5">
                        <p class="card-text text-center">More than <span class="fs-2 fw-bold ">1M</span> API calls per month</p>
                        <p class="text-start">+ Brand impersonation protection</p>
                        <p class="text-start">+ Premium Support</p>
                        <p class="text-start">+ Flexible Pricing</p>

                        <div class="d-flex">
                            <a href="?product=browser" class="w-100 btn-primary btn fs-3 fw-bold mx-auto my-5">🚀 Contact Sales</a>
                        </div>

                            <div class="row features-table-container mb-5">
                                <div class="col-6">
                                    <h5 class="px-3 text-primary">Protection against</h5>
                                    <ul>
                                        <li>Phising Attacks</li>
                                        <li>Scams</li>
                                        <li>Social Engineering</li>
                                        <li>Identity Theft</li>
                                        <li>Credential Theft</li>
                                        <li>Malware</li>
                                        <li>Ransomware</li>
                                        <li>Malicious URL</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <h5 class="px-3 text-primary">Attack vectors</h5>
                                    <ul>
                                        <li>Internet</li>
                                        <li>Email</li>
                                        <li>SMS</li>
                                        <li>Instant Messaging</li>
                                        <li>Cloud Applications</li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



</div>

{% endblock %}