{% extends "home/base.html" %}
{% block title %}Signup for Individual Customers{% endblock %}
{% block content %}
{% load static %}
<!-- ? main content section  ? -->
<style>
    label {
        display: block;
        text-align: left;
        line-height: 150%;
        font-size: .85em;
    }
     .section-header{
            padding: 10px;
    }
        .policy-text{
        text-align: left;
    }

     .policy-text span{
        font-size: 16px;!important
    }

    .main-container{
        padding: 70px;
    }

    .col-11 p{
        font-size: 19px!important;
    }
</style>
<br><br><br>
<div class="container-fluid mt-5 row main-container" style="padding-top: 30px;">
    <div class="col-sm-6">
        <div class="container products-card-container ">
    
            <div class="row">
                <div class="col-sm-6 mx-auto w-100">
                    <div class="card">
                        <a class="btn-primary rounded-0 text-white btn fs-3 fw-bold">Free 14 Day Trial</a>
    
    
    
                        <div class="card-body p-3">
    
    
    
                            <div class="container mt-3">
                                <header class="section-header">
                                    <p style="text-align: left;">What makes iFender different ?</p>
                                </header>
    
                                <div class="row" style="font-size: 20px;margin-top: 46px;">
                                    <div class="col-1 text-end">
                                        <i class="fa-solid fa-circle-check" style="color: #0084ff;"></i>
                                    </div>
                                    <div class="col-11">
                                        <p>stops more than 90% advanced cyber threats than existing modern solutions</p>
                                    </div>
                                </div>
    
    
                                <div class="row" style="font-size: 20px;">
                                    <div class="col-1 text-end">
                                        <i class="fa-solid fa-circle-check" style="color: #0084ff;"></i>
                                    </div>
                                    <div class="col-11">
                                        <p>install in minutes with zero impact on existing systems</p>
                                    </div>
                                </div>
    
                                <div class="row" style="font-size: 20px;">
                                    <div class="col-1 text-end">
                                        <i class="fa-solid fa-circle-check" style="color: #0084ff;"></i>
                                    </div>
                                    <div class="col-11">
                                        <p>99.85% detection rate with 0.00001% False positives</p>
                                    </div>
                                </div>
    
                                <div class="row" style="font-size: 20px;">
                                    <div class="col-1 text-end">
                                        <i class="fa-solid fa-circle-check" style="color: #0084ff;"></i>
                                    </div>
                                    <div class="col-11">
                                        <p>Seamless easy to use : not require any hardware , software or agent installation
                                            and update.</p>
                                    </div>
                                </div>
    
                                <div class="row" style="font-size: 20px;">
                                    <div class="col-1 text-end">
                                        <i class="fa-solid fa-circle-check" style="color: #0084ff;"></i>
                                    </div>
                                    <div class="col-11">
                                        <p>More than 500% ROI</p>
                                    </div>
                                </div>

    
                                <div class="row" style="font-size: 20px;">
                                    <div class="col-1 text-end">
                                        <i class="fa-solid fa-circle-check" style="color: #0084ff;"></i>
                                    </div>
                                    <div class="col-11">
                                        <p>Proactive protection : Detect and stop threats before they caused damage.</p>
                                    </div>
                                </div>
    
    
    
                            </div>
    
                        </div>
    
    
    
    
                    </div>
                </div>
    
            </div>
        </div>
    
    </div>
    <div class="col-sm-6">
        <header class="section-header">
            <p style="text-align: left;">Your Details</p><br>
            <span class="mt-5">
                </p>

                <div class="container">
                    <form>
                        

                        <div class="row mt-4">
                            <div class="form-group col-6">
                                <label for="" class="mb-2">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="">
                            </div>
                            <div class="form-group col-6">
                                <label for="" class="mb-2" class="mb-2">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="">
                            </div>
                        </div>



                        <div class="form-group mt-4">
                            <label for="" class="mb-2">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="">
                        </div>





                        <div class="form-group mt-4 ">
                            <label for="" class="mb-2">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                        </div>

                        <div class="form-group mt-4 ">
                            <label for="" class="mb-2">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="">
                        </div>


                        <div class="form-group mt-5 policy-text">
                            <span>By continuing you agree to the iFender's <a href="">Privacy Policy</a> and <a
                                    href="">Terms of Service?</a>
                                </p>
                        </div>

                        <a type="submit" class="btn btn-primary mt-2 w-100">Submit</a>
                    </form>
                </div>
        </header>
    </div>






</div><br><br>
{% endblock %}