{% extends "home/base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
{% load static %}

<!-- ? main content section  ? -->

<style>
    .col-3{
            text-align: center;
    }

    .col-3 h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>

<br>
<div class="container " style="padding-top: 30px;">
    <header class="section-header">
        <p class="text-start primary-color">The Radical protection against today's Cyber crimes is here!</p>
    </header>

<div class="row">
    <div class="col-md-8 d-flex" style="align-items: end;">
        <h2 class="fw-bolder" style="font-family: Verdana;    color: #666666;">save up to <span
                class="primary-color fw-bold fs-1">50%</span> While offer
            lasts</h2>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="container timer-box p-4">
                    <div class="row">
                        <div class="col-3">
                            <h3 id="days" class="text-white fw-bold">29</h3>
                        </div>
                        <div class="col-3">
                            <h3 id="hours" class="text-white fw-bold">23</h3>
                        </div>
                        <div class="col-3">
                            <h3 id="minutes" class="text-white fw-bold">56</h3>
                        </div>
                        <div class="col-3">
                            <h3 id="seconds" class="text-white fw-bold">56</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-white">Days</div>
                        <div class="col-3 text-white">Hrs</div>
                        <div class="col-3 text-white">Mins</div>
                        <div class="col-3 text-white">Sec</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



    <div class="container mt-2 py-5">
        <p style="font-size: 20px;">
            Whether you are an individual, business, organization or government agency, join iFender by <a
                href="">contribute to defeating
                cybercrime</a> by <a href="#">pre-ordering now</a>, the first platform dedicated to protecting humans
            against today's advanced cyberattacks
            across all attack vectors.
        </p>

        <h4 class="fw-bolder py-1 primary-color" style="font-size: 25px;"  >
            We need it
            for a large-scale global deployment of our platform planned for March 2024.
            </p>
    </div>


    <div class="container ">
        <div class="d-flex">
            <a href="/individual_preorder_products" class="btn-primary btn fs-3 fw-bold" style="
            padding: 20px;
            width: 60%;
        ">Pre-order now as individual!</a>
            &nbsp;
            <a href="/business_preorder_products" class="btn-primary btn fs-3 fw-bold text-white" style="
            padding: 20px;
            width: 60%;
        ">Pre-order now as business!</a>
        </div>

    </div>



</div>
<br><br>
{% include "home/quiz.html" %}



<script>
    // Set the initial duration in seconds (replace this with your desired duration)
    var durationInSeconds = 30 * 24 * 60 * 60;

    // Update the countdown every 1 second
    var x = setInterval(function () {
        // Calculate days, hours, minutes, and seconds
        var days = Math.floor(durationInSeconds / (24 * 60 * 60));
        var hours = Math.floor((durationInSeconds % (24 * 60 * 60)) / (60 * 60));
        var minutes = Math.floor((durationInSeconds % (60 * 60)) / 60);
        var seconds = durationInSeconds % 60;

        // Display the countdown
        document.getElementById("days").innerText = days;
        document.getElementById("hours").innerText = hours;
        document.getElementById("minutes").innerText = minutes;
        document.getElementById("seconds").innerText = seconds;

        // If the countdown is over, display a message
        if (durationInSeconds <= 0) {
            clearInterval(x);
            document.getElementById("days").innerText = "EXPIRED";
        }

        // Decrement the duration
        durationInSeconds--;

    }, 1000);
</script>
<div class="container mt-5"></div>
{% endblock %}