{% extends "home/base.html" %}
{% block title %}Pricing Pages {% endblock %}
{% block content %}
{% load static %}

<!-- ? main content section  ? -->

<br><br><br>
<div class="container mt-5 " style="padding-top: 30px;">
    <header class="section-header">
        <p>The Radical protection against cyber threats of today and tomorrow is finally here!</p>
    </header>

    <div class="row">
        <div class="col-md-8">
            <h2 class="fw-bolder" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Save up to 50% While offer
                lasts</h2>
        </div>

        <div class="col-md-4">
            <div class="container timer-box p-4">
                <div class="row">
                    <div class="col-3">
                        <h4 class="text-white fw-bold">30</h4>
                    </div>
                    <div class="col-3">
                        <h4 class="text-white fw-bold">30</h4>
                    </div>
                    <div class="col-3">
                        <h4 class="text-white fw-bold">30</h4>
                    </div>
                    <div class="col-3">
                        <h4 class="text-white fw-bold">30</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 text-white">Days</div>
                    <div class="col-3 text-white">Hrs</div>
                    <div class="col-3 text-white">Mins</div>
                    <div class="col-3 text-white">Sec</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <p>
            Whether you are an individual, business, organization or government agency, join iFender by <a
                href="">contribute to defeating
                cybercrime</a> by <a href="#">pre-ordering now</a>, the first platform dedicated to protecting humans
            against today's advanced cyberattacks
            across all attack vectors (Web, email, SMS, Messaging Apps, Social Networks, Collaborative Apps and all
            Cloud Apps).
        </p>

        <h4 class="fw-bolder">
            We need it
            For a large-scale global deployment of our platform planned for February 2024.
            </p>
    </div>

    <div class="container d-flex mt-5">
        <div class="mx-auto">
            <a href="{% url 'individual_pricing' %}" class="btn-primary btn fs-3 fw-bold">START NOW As
                individual!</a>
            <a href="{% url 'business_pricing' %}" class="btn-primary btn fs-3 fw-bold text-white">START
                NOW As Business!</a>
        </div>

    </div>



</div>
<div class="container mt-5"></div>
{% endblock %}