{% extends "home/base.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}

<style>
    .hero-btns {
        padding: 28px !important;
    }

    .hero .btn-get-started span {
        font-family: verdana !important;
        font-size: 15px !important;
        letter-spacing: 1px !important;
    }
</style>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center " style="margin-top: 80px;">

    <div class="container">
        <div class="row">

            <div class="col-lg-6 d-flex flex-column justify-content-center">


                <h1 data-aos="fade-up" class="hero-HeaderText">Real-Time
                    Defense API.
                </h1>
                <p data-aos="fade-up" data-aos-delay="400">
                    Integrate the industry's most accurate, fastest, and most scalable powerful API designed to protect
                    your businesses,
                    your employees, your remote workers, your brand, and your reputation by stopping today's advanced
                    cyber threats in real
                    time across all attack vectors. before they infiltrate your digital infrastructures.

                </p>
                <div data-aos="fade-up" data-aos-delay="600" class="productsBtn-hero-container">
                    <div class="">

                        <a href="{% url 'preorder' %}"
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center hero-btns">
                            <span>Pre-order now!</span>
                            <!-- <i class="bi bi-arrow-right"></i> -->
                        </a>

                        <a href="{% url 'individual_pricing' %}"
                            class="btn-get-started btn-free-trial scrollto d-inline-flex align-items-center justify-content-center align-self-center hero-btns">
                            <span>Protect your self!</span>
                            <!-- <i class="bi bi-arrow-right"></i> -->
                        </a>

                        <a href="{% url 'business_pricing' %}"
                            class="btn-get-started btn-free-trial scrollto d-inline-flex align-items-center justify-content-center align-self-center hero-btns">
                            <span>Protect your business!</span>
                            <!-- <i class="bi bi-arrow-right"></i> -->
                        </a>


                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static 'assets/img/Products_api_picture.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


<!-- ? what makes iFender different  ? -->

<br>
{% include "home/quiz.html" %}




{% endblock %}