{% extends "home/base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
{% load static %}

<style>
    html,body{
        overflow-x: hidden;
    }
</style>

<div class="container row class signup-container mx-5">

    <div class="col-md-6">
        <form>
            <div class="row">
                <div class="form-group col-6">
                    <label for="" class="mb-2">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-6">
                    <label for="" class="mb-2" class="mb-2"> Last Name</label>
                    <input type="text" class="form-control" id="secondName" placeholder="Second Name">
                </div>
            </div>

            <div class="form-group mt-4">
                <label for="" class="mb-2">Password</label>
                <input type="password" class="form-control" id="password1" placeholder="New Password">
            </div>
            <div class="form-group mt-4">
                <label for="" class="mb-2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" placeholder="Repeat Password">
            </div>

            <div class="form-group mt-5">
                <p>By continuing you agree to the iFender's <a href="">Privacy Policy</a> and <a href="">Terms of
                        Service?</a></p>
            </div>

            <button type="submit" class="btn btn-primary mt-2 w-100">Create Account</button>
        </form>
        <a href="{% url 'login' %}" class="btn btn-primary mt-2 w-100">Already have an Account?</a>
    </div>

    <div class="col-md-6 signupImageColumn">
        <img src="static/assets/img/signupImage.png" style="width: 100%;height: 100%;">
    </div>
</div>
{% endblock %}